sphinx
sphinx-rtd-theme
readthedocs-sphinx-search

# sphinx.ext.autodoc
# sphinx.ext.mathjax
# sphinx.ext.viewcode

numpydoc
# sphinx.ext.graphviz
# sphinx.ext.inheritance_diagram
# sphinx_copybutton
# matplotlib.sphinxext.plot_directive
# sphinx.ext.autosummary
# sphinx_gallery.gen_gallery
m2r2